{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">

            <h1><span>{{ event.label }}</span></h1>
            <span>Date de l'event :</span>
            <span>{{ event.date ? event.date|date('Y-m-d H:i') : '' }}</span>
            </br>
            <span>Description :</span>
            <span>{{ event.description }}</span>
            </br>
            <span>Cashprize :</span>
            <span>{{ event.cashprize }}</span>
            </br>
            <span>Nombre de participant maximum :</span>
            <span>{{ event.maxEntrant }}</span>
            </br>
            <span>Nombre de participant :</span>
            <span>{{ event.nbEntrant }}</span>
            </br>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary" href ="{{ path('app_event_edit', {'id': event.id}) }}" role="button">edit</a>
            </br></br>
            {{ include('event/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>
</div>
</br>
<a class="btn btn-primary" href ="{{ path('app_event_index') }}">Back to list</a>
{% endblock %}
