{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

</br>
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href ="{{ path('app_article_new') }}">Create new article</a>
        </div>
    </div>

    {% for article in articles %}
    <div class="container">
     <div class="article bg-light mt-4 p-4">
        <span>Date de l'article :</span>
        <span>{{ article.date ? article.date|date('Y-m-d') : '' }}</span>
        <div>Description :</div>
        <span>{{ article.description }}</span>
        <a class="btn btn-primary float-end" href ="{{ path('app_article_show', {'id': article.id}) }}" role="button">show</a>
        <a class="btn btn-primary float-end" href ="{{ path('app_article_edit', {'id': article.id}) }}" role="button">edit</a>
        </br>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="article bg-light mt-4 p-4">
            <div colspan="4"> no records found</div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
