{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">

        {{ form_start(form) }}

            {{ form_row(form.description) }}
        
            {{ include('article/_form.html.twig') }}
        
        {{ form_end(form) }}
        
        </div>
    </div>
</div>
<a class="btn btn-primary" href ="{{ path('app_article_index') }}">Back to list</a>
{% endblock %}
