{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">

        <h1><span>Article du </span><span>{{ article.date ? article.date|date('Y-m-d') : '' }}</span></h1>

        <div>Description :</div>
        <div>{{ article.description }}</div>
        
        </br>

        <a class="btn btn-primary" href ="{{ path('app_article_edit', {'id': article.id}) }}" role="button">edit</a>
        </br></br>
        {{ include('article/_delete_form.html.twig') }}
        </div>
    </div>
</div>
</br>
<a class="btn btn-primary" href ="{{ path('app_article_index') }}">Back to list</a>
{% endblock %}
