{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">

        <h1><span>Titre : </span><span>{{ article.titre }}</span></h1>

        <div>Description :</div>
        <span>{{ article.description }}</span>
        </br></br>
        <span>Article du </span><span>{{ article.date ? article.date|date('Y-m-d H:i') : '' }}</span>        
        </br>
        {% if is_granted('ROLE_ADMIN','ROLE_VIP') %}
        <a class="btn btn-primary" href ="{{ path('app_article_edit', {'id': article.id}) }}" role="button">edit</a>
        </br></br>
        {{ include('article/_delete_form.html.twig') }}
        {% endif %}
        </div>
    </div>
</div>
</br>
<a class="btn btn-primary" href ="{{ path('app_article_index') }}">Back to list</a>
{% endblock %}
